<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
	<div class="card ayo" style="width: 22.5rem;" >
		<img class="card-img-top click" src="https://media.bizj.us/view/img/6443362/hilltop-wegmans-front*1024xx1015-571-3-0.jpg" alt="Card image cap">
	  		<div class="card-block">
	    		<p class="card-title type">Grocery Store</p>
	  			<p class="card-title title"><span class="click" [routerLink]="['/stores/ayo']">Wegmans</span></p>
	  			<p class="card-text city">Princeton, NJ</p>
	    	</div>		
  	</div>
</div>
