[class*="col-"]{
	margin: 0 10px;
}

.card{
	border: 0;
	margin-bottom: 30px;
}

.click:hover{
	cursor: pointer;
	text-decoration: underline;
}

div{
	padding: 0px;
}

.type{
	margin-top: 5px;
	margin-bottom: 0px;
	font-weight: 700;
	font-size: 16px;
}

.title{
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 0px;
}

p{
	font-family: 'Mukta Mahee', sans-serif;
}

img{
	border-radius: 1%;
}

.city{
	margin-bottom: 0px;
}

.nopad{
	display: inline;
}

@media(max-width: 991px){
	.ayo{
		margin: 15px auto;
	}
	[class*="col-"]{
	margin: 0;
}

}