<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
	<div class="card ayo" style="width: 12rem;" >
		<img class="card-img-top" src="https://www.wegmans.com/content/dam/wegmans/products/358/34358.jpg" alt="Card image cap">
	  		<div class="card-block">
	  			<div class="productInfo">
		  			<p class="card-title title"><span>Wegmans Almonds</span></p>
		  			<p class="card-text city">32oz</p>
		  			<p class="card-text city">$4.99</p>
	  			</div>
	  			<div class="cart">
	  				<i class="fas fa-shopping-basket fa-2x click"></i>
	  			</div>

	    	</div>		
  	</div>
</div>
