<div class="jumbotron text-center">
	<h1>Welcome to CodeOut</h1>
	<h4 id="headerh4">A community of developers reviewing the best spots to code remotely</h4>
 	<div>
	<!-- <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-secondary" [routerLink]="['/register']">Login</a> -->
		<button class="btn btn-primary">Register</button> <button class="btn btn-outline-primary">Login</button>
 	 </div>
</div>	

<div class="row subHeader">
	<div class="col-md-4">
		<h3 class="descrip"><i class="fa fa-map-marker" aria-hidden="true"></i>
 		Find Spots</h3>
		<p class="descrip">Discover great new spots to post up and code for hours on end</p>
	</div>
	<div class="col-md-4">
		<h3 class="descrip"><i class="fa fa-plus" aria-hidden="true"></i>
 		Add Spots</h3>
		<p class="descrip">Post and review your favorite spots to code away from the office or home</p>
	</div>
	<div class="col-md-4">
		<h3 class="descrip"><i class="fa fa-commenting" aria-hidden="true"></i>
 		Comment On Spots</h3>
		<p class="descrip">Comment on reviews posted by other members</p>
	</div>
</div>

<div class="row row2">
	<h4 id="bottomh4">Top rated spots</h4>
</div>

<div class="container-fluid">
	<div class="row row2 row3">
		<div class="mx-auto" *ngFor="let spot of spots">
			<app-spot-list [spot]="spot"></app-spot-list>
		</div>

	</div>		
</div>	

