<div class="jumbotron text-center">
	<h1>Shoproute</h1>
	<h4 id="headerh4">Shop local stores online. Send self driving cars to pick up your purchases.</h4>
 	<div>
 		<div class="buttons">
			<button class="btn btn-success">Register</button> 
			<button class="btn btn-outline-primary">Login</button>
		</div>
 	 </div>
</div>	

<div class="text">
	<p>
		Express is on a mission to combine shopping with self driving cars. We're building a commerce platform to allow you to shop your local stores, online and have self driving cars pickup and deliver your orders. 
	</p>
		
	<a class="btn btn-outline-primary bodyBtn" href="#">Learn About Our Vision <i class="fas fa-angle-right"></i></a>
</div>

<div>
	<img src="https://i.imgur.com/RWW7V4w.jpg">
</div>

<div class="text">
	<p>
		Why are we building Express? It's all about empowing people. We want to give you back more of your most preciouse resource, time. 
	</p>

	<a class="btn btn-outline-primary bodyBtn" href="#">Meet Our Team <i class="fas fa-angle-right"></i></a>
</div>

<div>
	<img src="https://i.imgur.com/Yc8RVQo.jpg">
</div>

<div class="text">
	<p>
		How does it work? Express is working to partner with all top auto makers and technology companies developing self driving cars and self driving software. This means whether you'll own a self driving car or will use one as an Uber-like service, You'll have access to our service.  
	</p>
	<a class="btn btn-outline-primary bodyBtn" href="#">Learn About the Market <i class="fas fa-angle-right"></i></a>
</div>