<div class="col">
	<div class="card" style="width: 22.5rem;" >
		<img class="card-img-top click" src="{{spot.image}}" alt="Card image cap" (click)="onSelect2()">
	  		<div class="card-block">
	    		<p class="card-title type">{{type}}</p>
	  			<p class="card-title title"><span class="click" (click)="onSelect2()">{{spot.name}}</span></p>
	    		<p class="card-text city">{{spot.city}}, {{spot.state}}</p>
	    		<span  [className]="'fa'" [innerHtml]="rating"></span>
	    	</div>		
  	</div>
</div>

