.card{
	border: 0;
	margin-bottom: 30px;
}

.click:hover{
	cursor: pointer;
	text-decoration: underline;
}

div{
	padding: 0px;
}

.type{
	margin-top: 5px;
	margin-bottom: 0px;
	font-weight: 700;
	font-size: 13px;
}

.title{
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 0px;
}

img{
	border-radius: 1%;
}

.city{
	margin-bottom: 0px;
}

.fa{
	color: #593196;
}
.nopad{
	display: inline;
}