form{
	margin-top: 20px;
}

input{
	width: 365px;
	height: 37.5px;
	display: inline;
}
button{
	display: inline;
	margin-bottom: 4px;
	margin-left: 2px;
	/*width: 30px;*/
}

.fa{
	color: #EAE5F1;
	margin: 0 0;
	font-size: 22px;
}