.page{
	min-height: 100vh;
}

span{
	font-weight: 700;
	font-size: 20px;
}

.fa{
	margin-left: 8px;
	font-size: 22px;
	color: #593196;	
}
footer{

	height: 40px;
}

.foot{
	padding top: 30px;
}

span{
	font-weight: 700;
	font-size: 20px;
	padding-top: 20px;
}

.fa{
	margin-left: 8px;
	font-size: 22px;
}