<app-header></app-header>
<div class="page container">
	<router-outlet></router-outlet>
</div>

<footer class="page-footer blue center-on-small-only" style="text-align: center;">
    <div class="footer-copyright">
        <div class="container foot">
            <span><i class="fa fa-code" aria-hidden="true"></i> CodeOut <i class="fa fa-facebook-square" aria-hidden="true"></i><i class="fa fa-twitter-square" aria-hidden="true"></i><i class="fa fa-snapchat-square" aria-hidden="true"></i><i class="fa fa-instagram" aria-hidden="true"></i></span>
        </div>
    </div>
</footer>
	
	

	

