li{
	font-size: 16.5px;
	font-weight: 600;
}

#brand{
	font-size: 22px;
	font-weight: 600;
}

.addaspot{
	margin-right: 23px;
}

.click:hover{
	cursor: pointer;
}

#damnLink:visited{
	color: #AC98CA;
}
#damnLink:active{
	color: #AC98CA;
}
#damnLink:link{
	color: #AC98CA;
}
#damnLink:hover{
	color: #EAE5F1;
}
.dropdown{
	margin-right: 55px;
}
.dlink:hover{
	cursor: pointer;
	color: white !important;
}

/*.navbar{
	position: fixed;
	top: 0;
	width: 100%;
}*/